h1 {
    color: red;
}

#splash {
    top: calc(50% - 320px);
    left: calc(50% - 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 640px;
}

#splash,
#app-settings {
    position: absolute;
    background-color: rgb(var(--element-color));
    border-radius: 32px;
    border: 2px solid rgb(var(--accent-color));
    box-shadow: 0 0 16px 8px rgba(var(--shadow-color), var(--shadow-opacity)),
                0 0 16px 8px rgba(var(--shadow-color), var(--shadow-opacity)) inset;
    user-select: none;
}

#splash-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 96px;
    width: 75%;
}

#splash button {
    font-size: 24px;
    font-family: sans-serif;
    color: rgb(var(--accent-color));
    border-radius: 16px;
    padding: 8px 16px;
    border: 2px solid rgb(var(--accent-color));
    box-shadow: 0 0 8px 4px rgba(var(--shadow-color), var(--shadow-opacity)),
                0 0 8px 4px rgba(var(--shadow-color), var(--shadow-opacity)) inset;
    cursor: pointer;
}

#splash button:hover {
    box-shadow: 0 -5px 8px 4px rgba(var(--shadow-color), var(--shadow-opacity)),
                0 10px 8px 4px rgba(var(--shadow-color), var(--shadow-opacity)) inset,
                0  0   8px 4px rgba(var(--light-color), var(--light-opacity)) inset;
}

#splash button:active {
    box-shadow: 0 0 8px 4px rgba(var(--shadow-color), var(--shadow-opacity)),
                0 0 8px 4px rgba(var(--shadow-color), var(--shadow-opacity)) inset,
                0 0 8px 4px rgba(var(--light-color), var(--light-opacity)) inset;
}

#app-settings {
    display: none;
    top: calc(50% - 400px);
    left: calc(50% - 320px);
    width: 640px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#app-settings.visible {
    display: flex;
}

#settings-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 96px;
    width: 75%;
    height: calc(100% - 10em);
}

#vox-splash-logo g {
    fill: rgb(var(--vox-color));
}
